/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

img {
    width: 100%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.column{
    flex-direction: column;
}

li{
    list-style-type: none;
}


/* BODY */

body {
    font-family: sans-serif;
}

/* WEB-APP */

.container{
    background-color: green;
    height: 10vh;
    z-index: 999;
}

.web-app {
    width: 100%;
    height: calc(100vh);
    display: flex;
    padding: 50px;
}

/* PART LEFT */

aside {
    flex-basis: 450px;
    background-color: hsl(0deg 0% 100%);
    flex-shrink: 0;
    /*height: 100%;*/
    border: 0.5px solid black;
    z-index: 0;
    overflow-y: auto;
}

.profile img{
    border-radius: 25px;
    padding: 5px 5px;
}

.profile span{
    align-self: center;
}

.paddingleft {
    padding-left: 50px;
}
.contact img{
    width: 15%;
    border-radius: 100px;
    padding: 5px 5px;
}

.active{
    background-color: #a9a9a9;
}

.head {
    flex-shrink: 0;
    height: 50px;
    justify-content: space-between;
    background-color: hsl(0deg 0% 92%);
}

.icon{
    align-items: center;
    display: flex;
}

.icon span{
    color: hsl(0deg 0% 69%);
    padding: 10px;
}

.notifications{
    background-color: hsl(199deg 95% 77%);
    padding: 20px 0;
    padding-left: 10px;
}

.bell{
    color: hsl(199deg 95% 77%);
    border-radius: 20px;
    background-color: white;
    height: 20%;
    padding: 7px 6px;
}

.attivation-notifications{
    padding: 0 15px;
}

.search input{
    width: 80%;
}

.search i{
    padding: 0 10px;
    color: hsl(0deg 0% 69%);
}

.list-contact{
    padding: 20px 0;
}

.search{
    padding: 20px 0;
}

.card{
    align-items: center;
}


/* PART RIGHT */

.head-icon{
    align-self: center;
}

.head-icon i{
    padding: 0 10px;
    color: hsl(0deg 0% 69%);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

header {
    flex-basis: 50px;
    background-color: hsl(0deg 0% 92%);
    flex-shrink: 0;
}

.align {
    align-items: center;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    background-image: url(./img/mine.jpg);
}

footer {
    height: 50px;
    background-color: #f3eeea;
    align-items: center;
}

footer i{
    color: hsl(198deg 4% 44%);
    padding: 0 15px;
    font-size: 1.2rem;
}

footer input{
    width: 50%;
}
/*MESSAGE*/

.textgreen{
    background-color: #d5f9ba;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    align-self: flex-end;
    margin: 10px;
}

.textwhite{
    background-color: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 10px;

}

/*EFFECTS*/

i:hover{
    cursor: pointer;
    opacity: 0.5;
}